.container {
  max-width: 800px;
  padding: 2rem 0;
  border-bottom: 1px dashed var(--gray3-color);
}
.title {
  padding-top: 2rem;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}
