@import url("https://use.typekit.net/nqr0nlo.css");
/* 
Museo Sans
font-family: museo-sans, sans-serif;
font-weight: 500; */
/* 
Museo Slab
font-family: museo-slab, serif;
font-weight: 300;
font-weight: 700; */
/* 
Nexa Rust Sans Black 2
font-family: nexa-rust-sans-black-2, sans-serif;
font-weight: 900; */
:root {
  font-family: museo-sans, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;

  --gutter: 30px;
  /* color-scheme: light dark; */
  --cream-color: #f3f0eb;
  --red-color: #ee3124;
  --darkred-color: #af0f04;
  --lightgreen-color: #069457;
  --green-color: #004f39;
  --gray-color: #303030;
  --gray2-color: #606161;
  --gray3-color: #979797;
  --gray4-color: #d9d9d9;
  --bkg-color: var(--red-color);
  --bkg-red-gradient: linear-gradient(
    180deg,
    var(--darkred-color) 193px,
    var(--red-color) 700px
  );
  --red-gradient: linear-gradient(
    180deg,
    var(--darkred-color),
    var(--red-color)
  );
  --bkg-green-gradient: linear-gradient(
    180deg,
    var(--green-color) 193px,
    var(--lightgreen-color) 700px
  );
  --green-gradient: linear-gradient(
    180deg,
    var(--green-color),
    var(--lightgreen-color)
  );
  --museo-sans: museo-sans, Verdana, Geneva, Tahoma, sans-serif;
  --museo-slab: museo-slab, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  --nexa-rust: nexa-rust-sans-black-2, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;

  background-color: var(--bkg-color);
  /* check the time of day with javascript 

  /* background: var(--bkg-red-gradient); 
  background-repeat: no-repeat;
  background-attachment: fixed; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Navbar */
  --navbar-width: calc(90% - 20px);
  --mobilemenu-width: calc(93% - 20px);
  --navbar-padding: 10px;
}

.museo-sans {
  font-family: var(--museo-sans);
}
.museo-slab {
  font-family: var(--museo-slab);
}
.nexa-rust {
  font-family: var(--nexa-rust);
}
html {
  scroll-behavior: smooth;
}
main {
  position: relative;
  background: var(--bkg-red-gradient);
  /* overflow: hidden; */
}
main.day {
  background: var(--bkg-red-gradient);
}
main.night {
  background: var(--bkg-green-gradient);
}

main.night .nightmode-overlay {
  background: var(--bkg-red-gradient);
}
main.night .nightmode-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--bkg-green-gradient);
  opacity: 0;
}
.nightmode-overlay::before {
  opacity: 0;
}
main.night .nightmode-overlay::before {
  opacity: 1;
  animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.daytime-background-color {
  background: var(--bkg-red-gradient);
  background-repeat: no-repeat;
  color: white;
  transition: opacity 1s ease-in-out;
}
.red-gradient {
  background: var(--red-gradient);
  color: white;
}
.nighttime-background-color {
  background: var(--bkg-green-gradient);
  background-repeat: no-repeat;
  color: white;
  transition: opacity 1s ease-in-out;
}
.green-gradient {
  background: var(--green-gradient);
  color: white;
}
.red-color {
  background-color: var(--red-color);
  color: white;
}
.darkred-color {
  background-color: var(--darkred-color);
  color: white;
}
.half-darkred-color:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--darkred-color);
}
.red-outline {
  border: 2px solid var(--red-color);
}
.lightgreen-color {
  background-color: var(--lightgreen-color);
  color: white;
}
.green-color {
  background-color: var(--green-color);
  color: white;
}
.green-text {
  color: var(--green-color);
}
.green-outline {
  border: 2px solid var(--green-color);
}
.cream-color {
  position: relative;
  background-color: var(--cream-color);
  color: var(--green-color);
}
.cream-outline {
  border: 2px solid var(--cream-color);
}
.white-text,
.cream-text {
  color: var(--cream-color);
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
* *::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 100%; /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
  box-sizing: border-box;
}
body {
  margin: 0;
  overscroll-behavior: none;
}
#root {
  /* height: 100vh;
  width: 100vw; */
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}
main {
  width: 100%;
  transition: background 1s ease-in-out;
}
/* Adobe Font Loading */
.wf-loading {
  /* styles to use when web fonts are loading */
  filter: blur(0.5rem);
  opacity: 0;
}
.wf-active {
  /* styles to use when web fonts are active */
  filter: blur(0);
  opacity: 1;
}
.wf-inactive {
  /* styles to use when web fonts are inactive */
  filter: blur(0);
  opacity: 1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  transition: all 0.3s ease;
  color: var(--gray2-color);
  font-size: 1rem;
}
#root > nav {
  grid-area: nav;
}
#root > main {
  grid-area: main;
}

#root > footer {
  grid-area: footer;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
a {
  color: inherit;
  text-decoration: inherit;
}

p a {
  color: var(--red-color);
  text-decoration: underline;
  font-weight: inherit;
}
button.text-link,
a.text-link {
  color: var(--red-color);
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-decoration: underline;
  text-transform: none !important;
  font-family: var(--museo-sans);
  font-size: inherit;
  line-height: inherit;
  white-space: normal;
  overflow: visible;
}
a.nav-link {
  text-decoration: none;
}
.textBtn:hover{
  text-decoration: underline;
}

/*
a:hover,
a:focus {
  color: #11177f;
}
*/
.viewport {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0 calc(2.5vw + 0.5rem);
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.viewport.innerhero {
  padding-top: calc(106px + 2rem);
  overflow: hidden;
}
.viewport.innermenu {
  padding-top: 0;
  overflow: hidden;
}
.viewport.fullhero {
  padding: 0;
}
.page-container {
  position: relative;
  width: calc(90% - 2rem);
  padding: 1rem;
  max-width: 1300px;
  margin: 0 auto;
  border-radius: 10px;
}
.responsive-column-container {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.responsive-lg-column-container {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.responsive-twothirds-column-container,
.responsive-three-column-container {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  grid-template-columns: 1fr;
}
.responsive-twothirds-column-container .content,
.responsive-column-container .content {
  padding: 0 2rem;
}
.responsive-equal-height-container,
.responsive-unlimited-equal-height-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.responsive-equal-height-container .grid-box {
  display: flex;
}
@media screen and (min-width: 767px) {
  .responsive-three-column-container {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
  .responsive-three-column-container.menupage-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .responsive-twothirds-column-container {
    grid-template-columns: 3fr 2fr;
  }
  .responsive-twothirds-column-container .content,
  .responsive-column-container .content {
    width: calc(80% - 2rem);
  }

  .responsive-equal-height-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(16rem, auto);
  }
  .responsive-unlimited-equal-height-container {
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    grid-auto-rows: minmax(16rem, auto);
  }
}
@media screen and (min-width: 1023px) {
  .responsive-equal-height-container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(16rem, auto);
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}

.specials-background {
  background-image: url("/specials-bkg-illustrations-black.webp");
  background-repeat: no-repeat;
  background-position: center top 193px;
  background-size: 100%;
}

/* Heading styles */
h1,
h2,
h3,
h5,
h6 {
  font-family: var(--nexa-rust);
  font-weight: 900;
  font-style: normal;
  line-height: 1.1;
  margin: 0 0 0.5em 0;
}
h4 {
  font-family: var(--museo-slab);
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  margin: 0 0 0.5em 0;
}
h6 {
  font-family: var(--museo-slab);
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  margin: 0 0 0.5em 0;
}

h1 {
  font-size: clamp(2.2rem, 8.5vw, 3.5rem);
  margin: 0;
}

.page-container h1,
.full-page-container h1,
h2 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

h3 {
  font-size: clamp(1.37rem, 3.5vw, 1.875rem);
}

h4 {
  font-size: clamp(1.25rem, 3.5vw, 1.5rem);
}
h5 {
  font-size: clamp(1.25rem, 3.5vw, 1.5rem);
}
h6 {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}

/* HTML elements */
button,
a.btn,
.wp-block-button {
  display: inline-block;
  border-radius: 2rem;
  border: 2px solid #ffffff;
  padding: 1.5em 1.5em 1.3em;
  line-height: 0;
  font-size: 0.875em;
  font-weight: 500;
  font-family: var(--nexa-rust);
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
}
@media screen and (max-width: 425px) {
  button,
  a.btn,
  .wp-block-button {
    line-height: 1;
    padding: 1em 1.5em 0.8em;
  }
}
button.mobile,
a.mobile {
  display: none;
}
@media screen and (max-width: 425px) {
  button.mobile,
  a.mobile {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    z-index: 99998;
  }
}

button,
a.primary-btn,
.wp-block-button {
  background-color: var(--red-color);
}
button.secondary-btn,
a.secondary-btn {
  background-color: var(--green-color);
}
button.tertiary-btn,
a.tertiary-btn {
  background-color: var(--darkred-color);
}
button.quaternary-btn,
a.quaternary-btn {
  background-color: var(--lightgreen-color);
}
button.grayscale-btn,
a.grayscale-btn {
  background-color: var(--gray2-color);
}
button.outline-btn,
a.outline-btn {
  background-color: transparent;
  border-color: white;
  color: white;
}
button.grayscale-outline-btn,
a.grayscale-outline-btn {
  background-color: transparent;
  border-color: var(--gray2-color);
  color: var(--gray2-color);
}
a.selectstore-btn,
button.selectstore-btn {
  display: inline-block;
  border-radius: 0;
  border: 0;
  padding: 0.75em 0.5rem 0.75em 1.1rem;
  margin: 0 1rem;
  line-height: 1;
  font-size: 1em;
  color: white;
  cursor: pointer;
  text-decoration: none;

  font-family: var(--museo-slab);
  font-weight: 700;
  background: url("/location-pin-white.svg") no-repeat left 14px;
  transition: all 0.3s ease-in-out;
}
a.selectstore-btn:hover,
button.selectstore-btn:hover {
  text-shadow: 0 0 15px var(--cream-color);
}
button span,
a.btn span,
.wp-block-button a {
  position: relative;
  display: block;
  animation: btn-roll-out 0.3s forwards;
}
button:hover span,
a.btn:hover span,
.wp-block-button:hover a {
  animation: btn-roll 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@keyframes btn-roll {
  0% {
    top: 0;
    opacity: 1;
  }
  59% {
    top: 40px;
    opacity: 1;
  }
  60% {
    top: 40px;
    opacity: 0;
  }
  61% {
    top: -40px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes btn-roll-out {
  0% {
    top: 0;
    opacity: 1;
  }
  59% {
    top: -40px;
    opacity: 1;
  }
  60% {
    top: -40px;
    opacity: 0;
  }
  61% {
    top: 40px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

/* / */
figure.wp-block-image {
  margin: 4rem auto;
}
figure img {
  border-radius: 10px;
}

img {
  display: block;
  max-width: 100%;
}
nav:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}
nav,
ol,
ul {
  padding-left: 0;
}
label {
  display: flex;
}
input,
select,
textarea {
  padding: 9px 20px;
  align-items: center;
  border-radius: 200px;
  border: 2px solid #ffffff;
  background: var(--cream-color);
  font-family: var(--museo-sans);
  font-weight: 500;
  font-style: normal;
}

@media screen and (max-width: 400px) {
  input {
    width: 100%;
    display: block;
  }
}
button[type="submit"] {
  background-color: var(--green-color);
  white-space: nowrap;
}

/* Helper classes */
.hidden {
  display: none; /* hide from bots */
}
.display-flex {
  display: flex;
}
.position-relative {
  position: relative;
}
.text-align-center {
  text-align: center;
}
.flex-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.align-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-fill-container {
  position: relative;
  padding-bottom: 60%;
}
@media screen and (max-width: 767px) {
  /*switch column order*/
  .order2 {
    order: 2;
  }
  .order1 {
    order: 1;
  }
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* GOOGLE MAPS */
.gw-style {
  font-family: var(--museo-sans) !important;
}
.gm-style-iw {
  background-color: var(--red-color) !important;
  max-width: 320px !important;
  min-width: 250px !important;
  color: white;
  font-size: 15px !important;
}
.gm-style-iw-d {
  overflow: hidden !important;
  padding: 15px 5px !important;
  width: calc(100% - 20px) !important;
  height: 100%;
  margin-top: -40px !important;
}
.gm-ui-hover-effect {
  top: 0 !important;
  right: 0 !important;
}
.gm-ui-hover-effect > span {
  /* mask-image: url("/icon-close.svg") !important; */
  background-color: white;
}
.gm-style-iw-tc::after {
  background-color: var(--red-color) !important;
}
.pac-container {
  z-index: 1000; /* Adjust as necessary */
}
