.bkg {
  background-image: url("/pizza2-background-callout-vertical.jpg");
  background-size: cover;
  padding: calc(2vw + 2rem) 0;
  color: var(--cream-color);
  min-height: 420px;
  display: flex;
  align-items: center;
}
.bkgImage {
  display: none;
}
.callout {
  width: 90%;
  position: relative;
  margin: 0 auto;
  padding-top: calc(30vw + 60px);
}
.column {
  padding: 0 1rem;
  text-align: center;
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .bkg {
    background-image: none;
  }
  .bkgImage {
    display: block;
    object-fit: cover;
  }
  .callout {
    width: 45%;
    position: relative;
    right: 0;
    margin: 0 0 0 auto;
    padding-top: 0;
  }
}
.subTitle {
  max-width: 300px;
  margin: 0 auto 2rem;
}
