.title {
  max-width: 500px;
  margin: 0 auto;
  color: #046a38;
  font-size: clamp(1.35rem, 4.6vw, 2.2rem);
}
@media screen and (min-width: 1275px) {
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.button {
  margin: 0 0.75rem;
  white-space: nowrap;
}

.redFillHeart {
  position: absolute;
  top: 7%;
  left: 20%;
  animation: heartSlideUpDown 3.5s infinite;
}
.greenFillHeart {
  position: absolute;
  top: 13%;
  left: 42%;
  animation: heartZoomUpDown 5s infinite;
}
.redOutlineHeart {
  position: absolute;
  bottom: 7%;
  left: 10%;
  animation: heartbeat-rotate 3.5s infinite;
}
.greenOutlineHeart {
  position: absolute;
  bottom: 17%;
  left: calc(12% + 60px);
  animation: pizza-heartbeat-pulse 3.5s infinite;
}

@keyframes heartbeat-rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  20% {
    transform: scale(1.2) rotate(5deg);
  }
  30% {
    transform: scale(1) rotate(0deg);
  }
  40% {
    transform: scale(1.2) rotate(-8deg);
  }
  50% {
    transform: scale(1) rotate(3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes pizza-heartbeat-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heartSlideUpDown {
  0% {
    transform: translateY(0) scale(1);
  }
  60% {
    transform: translateY(12px) scale(1.2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@keyframes heartZoomUpDown {
  0% {
    transform: translateY(0) scale(1.2);
  }
  60% {
    transform: translateY(22px) scale(1);
  }
  100% {
    transform: translateY(0) scale(1.2);
  }
}
