.footer {
  box-sizing: border-box;
  background-color: var(--gray-color);
  display: flex;
  width: 100%;
  color: var(--cream-color);
  font-size: 85%;
  padding: calc(5vw + 25px) calc(5vw + 15px) calc(1vw + 25px);
}
@media screen and (min-width: 1240px) {
  .footer {
    /* desktop only background image */
    background-image: url("/footer-bkg.webp");
    background-size: auto 650px;
    background-position: center right -100px;
    background-repeat: no-repeat;
  }
}
.columns {
  display: flex;
  gap: 8rem;
  flex: 1 1 auto;
}
@media screen and (max-width: 767px) {
  .columns {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  /*switch column order*/
  .order2 {
    order: 2;
  }
  .order1 {
    order: 1;
  }
}
.columns h4.header {
  margin-bottom: 0;
  font-size: clamp(1.05rem, 0.8vw, 0.1rem);
  font-weight: 700;
}
.columns p {
  margin-top: 0;
}
.emailSignUp {
  padding: 2rem 0 7rem;
}
@media screen and (min-width: 400px) {
  /* columns */
  .emailSignUp {
    display: flex;
    gap: 15px;
    flex-shrink: 0;
  }
}

.qrCode {
  display: block;
  margin-left: 1rem;
}
.appStoreLinks {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}
@media screen and (max-width: 1024px) {
  /* hide qr code on mobile */
  .qrCode {
    display: none;
  }
  /* app store columns */
  .appStoreLinks > div {
    display: flex;
    gap: 1rem;
  }
}

.iconLinks {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.footerMenu {
  display: flex;
  gap: 3rem;
}
.footerMenu ul {
  margin-bottom: 4.5rem;
}
.footerMenu ul li {
  padding: 7px 0;
}
.footerMenu ul li a:hover {
  text-shadow: 0 0 10px var(--cream-color);
}
