.dropdown {
  position: relative;
  margin: 1rem auto 0;
  padding: var(--navbar-padding) 0 0;
  width: var(--mobilemenu-width);
  height: calc(100vh - 140px);
  overflow: hidden;
  background-color: var(--green-color);
  border-radius: 32px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: -1;
  display: none;
}
.nightTheme {
  background-color: var(--lightgreen-color);
}
.dropdown.active {
  display: flex;
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}
li.item {
  padding: 2px 0;
}
li.item,
li.sliderItems {
  text-align: center;
}
.dropdown li a {
  display: block;
  padding: 18px 0;
  font-size: 1.2rem;
  width: 100%;
}
li.sliderItems {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px 0 0;
}
ul.slider {
  display: block;
  width: 100%;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
ul.slider.active {
  transform: translateX(-100%);
}
ul.sliderSubmenu {
  position: absolute;
  background-color: #143227;
  border-top-left-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 93%;
  height: 100%;
  padding: 8px 0 0;
  list-style-type: none;
  transition: transform 0.3s ease-in-out;
  transform: translateX(112%);
}
.dropdown.nightTheme ul.sliderSubmenu {
  background-color: var(--green-color);
}
ul.sliderSubmenu.active {
  transform: translateX(8%);
}
ul.sliderSubmenu li {
  text-align: left;
  padding: 5px 0 5px 12%;
}
.closeSubmenu {
  border-bottom: 1px solid #1d4f3d;
  margin-bottom: 10px;
}
.dropdown.nightTheme .closeSubmenu {
  border-bottom: 1px solid #1e5f47;
}
.closeSubmenu > a::before {
  content: "";
  display: inline-block;
  height: 11px;
  width: 11px;
  margin-left: -18px;
  margin-right: 8px;
  background: url("/arrow-right.svg") no-repeat center center;
  background-size: contain;
  transform: rotate(180deg);
}

@media all and (min-width: 1210px) {
  .dropdown {
    display: none;
  }
}
