/* menupage-item */

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.thumbnail a {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.hoverImage {
  position: absolute;
}
.thumbnail img {
  display: block;
  position: relative;
  width: 400px;
  height: 280px;
  object-fit: cover;
  overflow: hidden;
  z-index: 999;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (min-width: 768px) {
  .thumbnail img {
    width: 400px;
    height: 340px;
  }
}
@media screen and (min-width: 1300px) {
  .thumbnail img {
    width: 380px;
    height: 380px;
  }
}
.mainImage {
  opacity: 0;
}
.thumbnail:hover .mainImageScale {
  transform: scale(1.1);
}
.label {
  padding: 2rem 0;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
}
.caption {
  flex: 1 1 auto;
}
@media screen and (max-width: 767px) {
  .caption {
    text-align: center;
  }
}
/* Single menu page */
.tab-list {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1rem auto;
  border-bottom: 1px solid var(--green-color);
}
.tab-list li {
  font-size: 1.5rem;
  line-height: 2;
  padding: 0;
  margin: 1rem 0 0 0;
}
.tab-list li.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--green-color);
}
