.specials {
  background-image: url("/homepage-bkg-illustrations-black.webp");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100% auto;
}
@media screen and (max-width: 1511px) {
  .specials {
    background-image: url("/homepage-bkg-illustrations-black.webp");
    background-size: cover;
  }
}
/* text */
.content {
  padding: 0 2rem;
  margin: 0 auto;
}
.content p {
  max-width: 540px;
  margin: 0 auto;
}
/* carousel */
.wrapper {
  display: grid;
  align-content: start;
}
.container {
  overflow-y: hidden;
  margin-bottom: calc(-0.1 * var(--gutter));
}
.carousel {
  position: relative;
  margin: 2rem auto 0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;

  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  /* grid-template-columns: DYNAMIC */
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.5 * var(--gutter));
}
@media screen and (min-width: 1100px) {
  .carousel {
    max-width: calc(1100px + var(--gutter));
  }
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carouselItem {
  position: relative;
  overflow: hidden;
  width: calc(320px - ((var(--gutter) / 2 * 1.5) * 2));
  height: calc(320px - ((var(--gutter) / 2 * 1.5) * 2));
  scroll-snap-align: start;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
@media screen and (min-width: 1100px) {
  .carouselItem {
    width: calc(350px - ((var(--gutter) / 2 * 1.5) * 2));
    height: calc(350px - ((var(--gutter) / 2 * 1.5) * 2));
  }
}
.carouselItem .specialsBkg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  animation: circle-rotate 20s linear infinite;
}
.carouselItem:nth-of-type(2) .specialsBkg {
  animation: circle-rotate 28s linear infinite;
}
.carouselItem:nth-of-type(3) .specialsBkg {
  animation: circle-rotate 24s linear infinite;
}

@keyframes circle-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.item {
  position: relative;
  padding: 0 4rem;
  color: var(--red-color);
}

.title {
  color: var(--red-color);
  margin: 0;
}
.code {
  color: var(--green-color);
}
.title,
.code {
  font-size: clamp(1.5rem, 3.5vw, 1.675rem);
}
