.textCol {
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 738px) {
  .textCol {
    padding: calc(7vw + 2rem) 0 2rem;
    max-width: 500px;
  }
  .image {
    max-width: 600px;
  }
}
.title {
  text-align: center;
  color: var(--red-color);
}
.image {
  margin: 0 auto;
  height: auto;
  max-width: 100%;
  width: 100%;
}
.imageCol {
  position: relative;
}

.redFillHeart {
  position: absolute;
  width: calc(1.5vw + 30px);
  height: auto;
  top: calc(16vw + 160px);
  left: 70%;
  animation: heartSlideUpDown 3.5s infinite;
}
.redOutlineHeart {
  position: absolute;
  width: calc(1.75vw + 35px);
  height: auto;
  top: calc(16vw + 125px);
  left: 85%;
  animation: heartbeat-rotate 3.5s infinite;
}
.greenOutlineHeart {
  position: absolute;
  width: calc(1vw + 30px);
  height: auto;
  top: calc(16vw + 145px);
  left: 55%;
  animation: pizza-heartbeat-pulse 3.5s infinite;
}

@keyframes heartbeat-rotate {
  0% {
    transform: scale(1) rotate(20deg);
  }
  20% {
    transform: scale(1.2) rotate(25deg);
  }
  30% {
    transform: scale(1) rotate(20deg);
  }
  40% {
    transform: scale(1.2) rotate(12deg);
  }
  50% {
    transform: scale(1) rotate(23deg);
  }
  100% {
    transform: scale(1) rotate(20deg);
  }
}

@keyframes pizza-heartbeat-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heartSlideUpDown {
  0% {
    transform: translateY(0) scale(1) rotate(40deg);
  }
  60% {
    transform: translateY(6px) scale(1.4) rotate(25deg);
  }
  100% {
    transform: translateY(0) scale(1) rotate(40deg);
  }
}
@keyframes heartZoomUpDown {
  0% {
    transform: translateY(0) scale(1.2);
  }
  60% {
    transform: translateY(22px) scale(1);
  }
  100% {
    transform: translateY(0) scale(1.2);
  }
}
