/* category filter menu */
.title {
  margin-top: 2rem;
  text-align: center;
  text-transform: capitalize;
}
.container {
  width: auto;
  text-align: center;
  margin: 0 auto;
}
.categoryFilter {
  /* display: inline-block; */
  margin: 2rem auto;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.categoryFilter::-webkit-scrollbar {
  display: none;
}

.categoryFilter button {
  margin: 0 0.5rem;
  background-color: transparent;
  border: 1px solid var(--cream-color);
  color: var(--cream-color);
  font-family: var(--museo-sans);
  padding: 0 2rem;
  line-height: 40px;
  font-size: 0.9375rem;
  text-transform: capitalize;
}
.categoryFilter button.active {
  background-color: var(--cream-color);
  color: var(--red-color);
}
