.container {
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: var(--green-color);
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
  color: var(--cream-color);
  padding: 5rem 0;
}
.content {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}
