.container {
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: var(--green-color);
  margin: 0 auto;
  max-width: 1000px;
  color: var(--cream-color);
  padding-top: calc(3vw + 2.5rem);
  padding-bottom: calc(3vw + 2.5rem);
}
.content {
  margin: 0 auto 0 0;
  max-width: 700px;
  padding: 0 calc(3vw + 1.5rem);
}
