.listItem {
  padding: 2rem 0 1rem;
  font-family: var(--museo-slab);
  border-bottom: 1px dashed var(--gray2-color);
}
.listTitle {
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .listColumns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.areaBtn {
  display: inline-block;
  border-radius: 0;
  border: 0;
  padding: 0.75em 0.2rem 0.75em 1.5rem;
  line-height: 1;
  font-size: 1em;
  color: var(--green-color);
  cursor: pointer;
  text-decoration: none;

  font-family: var(--museo-slab);
  font-weight: 700;
  background: url("/get-metro-area.svg") no-repeat left center;
}
