.animation {
  position: relative;
  width: 100%;
  height: 90vw;
  min-height: 300px;
}
@media screen and (min-width: 632px) {
  .animation {
    min-height: 600px;
    height: 100%;
  }
}
.shadow {
  position: absolute;
  width: 125%;
  padding-top: 80%;
  top: 6%;
  left: -45%;
  background: rgba(2, 2, 2, 0.5);
  border-radius: 100%;
  filter: blur(19px);
}
.animation img {
  height: auto;
}
.pizzaImg {
  position: absolute;
  width: 90%;
  top: 2%;
  left: -4%;
  height: auto;
}
.rellaxDiv {
  position: relative;
  top: 0;
  left: 0;
}
.basilLeaf1 {
  position: absolute;
  transform: translateY(-30%);
  top: 0;
  left: 33.5%;
  width: 34%;
}
.fallIn1 {
  opacity: 0;
  animation: fallIn 3.5s cubic-bezier(0.07, 0.66, 0.49, 1.01) 0.5s forwards;
}

.basilLeaf2 {
  position: absolute;
  transform: translateY(12%);
  top: 0;
  left: 15%;
  width: 26%;
}
.fallIn2 {
  opacity: 0;
  animation: fallIn 3.5s cubic-bezier(0.07, 0.66, 0.49, 1.01) 0.75s forwards;
}
.basilLeaf3 {
  position: absolute;
  transform: translateY(101%);
  top: 0;
  left: 43%;
  width: 31%;
}
.fallIn3 {
  opacity: 0;
  animation: fallIn 3.5s cubic-bezier(0.07, 0.66, 0.49, 1.01) 1s forwards;
}
.basilLeaf4 {
  position: absolute;
  transform: translateY(60%);
  top: 0;
  left: 64%;
  width: 34%;
}
.fallIn4 {
  opacity: 0;
  animation: fallIn 3.5s cubic-bezier(0.07, 0.66, 0.49, 1.01) 1.2s forwards;
}
.basilLeaf5 {
  position: absolute;
  transform: translateY(82%) scaleX(-1);
  top: 0;
  left: 2.5%;
  width: 36%;
}
.fallIn5 {
  opacity: 0;
  animation: fallIn 3.5s cubic-bezier(0.07, 0.66, 0.49, 1.01) 1.75s forwards;
}
.basilLeaf6 {
  position: absolute;
  transform: translateY(13%) scaleX(-1);
  top: 0;
  left: -4%;
  width: 25%;
}
.fallIn6 {
  opacity: 0;
  animation: fallIn 3.5s cubic-bezier(0.07, 0.66, 0.49, 1.01) 2s forwards;
}
.content {
  box-sizing: border-box;
  padding: 0 2rem 0 0;
  max-width: calc(500px + 4rem);
}
@media screen and (max-width: 631px) {
  .content {
    padding: 0 1.5rem;
  }
  .innerHeroText {
    text-align: center;
  }
}

@keyframes fallIn {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
